 * {
    font-family: 'maven pro';
 }
 :root {
    --header-height: 70px;
    --content-height: 1fr;
    --footer-height: 70px

 }

.app{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) var(--content-height) var(--footer-height);
   
    grid-template-areas:
    "header"
    "content"
    "footer";

    height: 100vh;
 }

 footer.footer{
    grid-area: footer;
}
 main.content{
    grid-area: content;
}
header.header{
    grid-area: header;
}

